@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3 class="align-content-between" >@ViewBag.Message</h3>

<address>
    <strong>Телефон: 8(919)-182-83-12</strong><br />
    <strong>Telegram:</strong>   <a href="https://t.me/EgorPros">https://t.me/EgorPros</a><br />
    <strong>VK:</strong> <a href="https://vk.com/proskyrin1">https://vk.com/proskyrin1</a>
</address>